
.modal .modal-dialog {
	max-width: 1000px;
	backdrop-filter: blur(5px);
}

.Heading{
	text-align: center;
	margin-top: 75px;
	margin-bottom: 100px;
}



.material-icons {
    color: #000000!important;
}

.logout{
	text-align: center;
	margin-top: 75px;
	margin-bottom: 100px;

}
.button3 {background-color: #f44336;}

.loginregister{
	
	width: 60%;
    margin-top: 10%;
    margin-left: 20%;

}

.authHeading{
	text-align: center;
}

.loginin{
	text-align: right;
	justify-content: right;
}

